.residents-myresidents__profiles {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacerMain);

    overflow: scroll;

    padding-bottom: calc(var(--heightMyResidentProfile) / 3);
    margin-top: var(--spacerMain);
}