.navitem {
    display: flex;
    align-items: center;

    padding: var(--spacerBig) var(--spacerMain);
}

.navitem--active {
    background-color: var(--colorBgDark);
    border-right: solid var(--borderWidthNav) var(--colorCTA);
}

.navitem--logout {
    background-color: var(--colorBgDark);
    padding: var(--spacerBig);
}

.navitem__text {
    font-size: var(--fontSizeBig);
    font-weight: var(--fontWeightSemiBold);
    text-transform: capitalize;

    padding-left: var(--spacerMain);
}

.navitem__text--active {
    color: var(--colorCTA);
}