.all-activities-container {
  height: 100%;
  position: relative;
}

.dayactivity-colorbar {
  width: 4px;
  height: 100;
}

.dayactivity-colorbar.colorbar-today {
  background-color: var(--colorCTA);
}

.dayactivity-colorbar.colorbar-planned {
  background-color: var(--colorOrange);
}

.dayactivity-colorbar.colorbar-unplanned {
  background-color: var(--colorBgGrey);
}

.dayplanning-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 10rem;
  margin-top: var(--spacerMain);
}

.dayplanning-section {
  margin-bottom: var(--spacerMain);
}

.dayplanning-container {
  height: max-content;
  display: flex;
  width: 100%;
}

.dayplanning-title {
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 8px;
}

.all-activities-btn {
  background-color: var(--colorCTA);
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: var(--spacerButtonNormal);
  gap: 10px;
}

.all-activities-btn p{
  font-weight: var(--fontWeightSemiBold);
  color: var(--colorBgMain);
}