.contact-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  align-self: center;
  margin-left: 1.2rem;
}

.contact-name {
  font-weight: var(--fontWeightMedium);
  margin-bottom: 0.4rem;
}

.contact-type {
  text-transform: uppercase;
  font-size: var(--fontSizeTiny);
  font-weight: var(--fontWeightSemiBold);
  background-color: var(--colorCTA);
  color: var(--colorBgMain);
  width: max-content;
  padding: 0.3rem 0.8rem;
  border-radius: var(--borderRadius);
}
.contact-container {
  display: flex;
  justify-content: space-between;

  background-color: var(--colorBgLight);
  border-radius: var(--borderRadiusBig);
  margin-bottom: 6px;
}

.contact-type--contact {
  background-color: var(--colorSpotlight);
}

.contact-info-wrapper {
  display: flex;
}

.contact-info-subwrapper {
  display: flex;
  flex-direction: column;
  align-self: center;

  margin-left: var(--spacerMain);
}

.contact-info-btn {
  width: 46px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorBgDark);
  justify-self: flex-end;
  border-radius: 10px;

  cursor: pointer;
}


