.contact-dropdown {
  background-color: var(--colorBgLight);
  border-radius: var(--borderRadiusBig);
  padding: 1px;
  margin-bottom: 8px;
}

.contact-dropdown-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.dropdown-title-wrapper {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  margin: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-title {
  font-weight: var(--fontWeightSemiBold);
}

.dropdown-subtitle {
  font-size: var(--fontSizeSmall);
  margin-top: 8px;
}

.delete-contact-icon {
  grid-row: 1;
  grid-column: 1;
  margin: 0.5rem;

  cursor: pointer;
}

.dropdown-tags-title {
  font-weight: var(--fontWeightSemiBold);
}

.dropdown-tags-container {
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 12px;
}
