.activity-small-container {
  display: flex;
  align-items: center;
  border-radius: var(--borderRadiusBig);
  padding: 14px 9px;
  margin-bottom: 5px;
}

.activity-small-container:hover {
  background-color: var(--colorBgLight);
}

.activity-small-border-bottom {
  border-bottom: solid 2px var(--colorBgDark);
}

.activity-small-calendar-date {
  background-color: var(--colorOrange);
  border-radius: var(--borderRadiusBig);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.activity-small-date {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeRoom);
}

.activity-small-day {
  font-weight: var(--fontWeightSemiBold);
  font-size: var(--fontSizeSmall);
}

.activity-small-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
}

.activity-small-location-hour-wrapper {
  display: flex;
  margin-top: 8px;
}

.activity-small-location {
  font-size: var(--fontSizeSmall);
  color: var(--colorCopyMisc);
}

.activity-small-hour {
  font-size: var(--fontSizeSmall);
  color: var(--colorCopyMisc);
  margin-left: 10px;
  border-left: solid 1px var(--colorCopyMisc);
  padding-left: 10px;
}

.activity-small-name {
  font-weight: var(--fontWeightMedium);
  font-size: var(--fontSizeBig);
}
