.match-header-profile {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.match-header-right {
  height: 196px;
  background-color: var(--colorBgLight);
  width: 60%;
  overflow: scroll;
}
