/* ____ RESIDENTS PAGE ___ */

/* -- OVERVIEW -- */

.residents {
  overflow: hidden;
}

.detailresident-general-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--spacerMain)
}

.detailresident-personal-planning {
  display: flex;
  justify-content: center;
}
