/* ____ RESIDENTS PAGE ___ */

/* -- OVERVIEW -- */

.residents {
  overflow: hidden;
}

.detailresident-general {
  display: flex;
  flex-direction: row;
}

.detailresident-personal-planning {
  display: flex;
}

