.newactivity-header-container {
  background-color: var(--colorOrangeLight);
  display: flex;
  justify-content: space-around;
  min-height: 150px;
  align-items: center;
  border-radius: var(--borderRadiusBig);
}

.newactivity-header-container.color-blue {
  background-color: var(--colorBgLight);
}

.newactivity-header-titles-wrapper {
  display: flex;
  flex-direction: column;
}

.newactivity-header-title {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeInBetween);
}

.newactivity-header-subtitle {
  max-width: 300px;
  margin-top: 16px;
  line-height: 1.2rem;
}
