.interests-category {
  background-color: var(--colorSpotlight);
  width: 140px;
  min-height: 160px;
  border-radius: var(--borderRadiusBig);
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interests-category-name {
  font-weight: var(--fontWeightBold);
  text-align: center;
  margin: 10px 0;
  line-height: 1.2rem;

  text-transform: capitalize;
}

.interests-category-container {
  background-color: var(--colorBgLight);
  display: flex;
  border-radius: var(--borderRadiusBig);
  margin-bottom: 8px;
}

.interest-tags {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  
}

.category-vector {
  width: 140px;
  height: 70px;

}
