.dtl-act-present-int-container {
    display: flex;
    justify-content: center;
}

.activities__newactivity {
    display: flex;
}

.activities__selectedints {
    flex: 0.5;
}

.all-activities-filter {
    display: flex;
}