.resident-profile-card {
  display: flex;
}

.res-profile-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: var(--spacerMain);
}

.res-profile-pic {
  width: 150px;
  height: 160px;
  object-fit: cover;
  border-radius: 5%;
}

.res-profile-name-heart-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.res-profile-heart-btn {
  width: 30px;
  height: 30px;
  margin-left: var(--spacerMain);

  cursor: pointer;
}

.res-profile-heart-btn--active {
  background-color: var(--colorRed);
}

.res-profile-name {
  font-size: var(--fontSizeInBetween);
  font-weight: var(--fontWeightSemiBold);
  width: 156px;
}

.res-profile-status {
  font-weight: var(--fontWeightMedium);
}

.res-profile-room-edit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res-profile-room {
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeightSemiBold);
  background-color: var(--colorBgDark);
  padding: 0.5rem 1rem;
  height: max-content;
  border-radius: var(--borderRadius);
}

.res-profile-edit-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
