.match-user-pic {
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
}

.result-head-container {
  margin-top: 1rem;

}

.result-head-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: var(--borderRadiusBig);
  border-top-right-radius: var(--borderRadiusBig);
  background-color: var(--colorBgMain);
}

.result-head-percentage {
  background-color: var(--colorBgDark);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: var(--spacerMain);
  border-top-left-radius: var(--borderRadiusBig);
}

.result-top-match {
  color: var(--colorCTA);
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 7px;
}

.result-circle {
  width: 62px;
  height: 62px;
  border: 2px solid var(--colorCTA);
  background-color: var(--colorBgMain);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-percentage {
  font-weight: var(--fontWeightSemiBold);
  font-size: var(--fontSizeNormal);
  color: var(--colorCTA);
}

.match-user-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.result-name {
  font-weight: var(--fontWeightSemiBold);
  margin-left: 8px;
}

.result-add-btn {
  display: flex;
  border-radius: var(--borderRadius);
  border: 2px solid var(--colorCTA);
  justify-content: center;
  align-items: center;
  padding: var(--spacerButtonNormal);
  margin-right: 2rem;

  cursor: pointer;
}

.result-add-btn--active {
  background-color: var(--colorCTA);
  cursor: default;
}

.result-add-btn-text {
  font-weight: var(--fontWeightSemiBold);
  margin-left: 8px;
  color: var(--colorCTA);
}

.result-add-btn-text--active {
  color: var(--colorBgMain);
}

.result-head-bottom-container {
  background-color: var(--colorBgLight);
  display: flex;
  min-height: 58px;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: var(--borderRadiusBig);
  border-bottom-left-radius: var(--borderRadiusBig);
}

.result-head-chevronleft {
  margin-left: var(--spacerMain);
}

.result-head-chevronright {
  margin-right: var(--spacerMain);
}

.result-head-tags {
  margin-top: -10px;
  display: flex;
}

.main-info-wrapper {
  display: flex;
}
