.wlp-container {
  margin-top: 80px;
}

.wlp-title {
  font-size: 34px;
  font-weight: var(--fontWeightBold);
}

.wlp-input-container {
  margin-top: 50px;
  display: flex;
}

.input-checkboxes {
  margin-top: 10px;
  display: flex;
}

.input-check-container-big {
  width: 100%;
  height: 100%;
}
