.add-new-tag-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.residents-editinterests {
  display: flex;
  gap: var(--spacerMain);
}

.add-new-tag-title {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: var(--spacerMain);
}

.add-new-tag-titles-wrapper {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.add-new-tag-inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrap {
  display: flex;
  flex-direction: column;
  font-weight: var(--fontWeightSemiBold);
}

.add-new-tag-search {
  margin-bottom: 2rem;
}

.add-new-tag-input {
  height: 36px;
  background-color: var(--colorBgLight);
  margin-top: 0.5rem;
}

.add-new-tag-btn-div {
  background-color: var(--colorBgLight);
  padding: 1rem;
}

.add-new-tag-btn-notice {
  font-size: var(--fontSizeSmall);
  margin-bottom: 10px;
}

.add-new-tag-btn {
  background-color: var(--colorCTA);
  border-radius: var(--borderRadius);
  padding: var(--spacerButtonNormal);
  display: flex;
  justify-content: center;
  align-content: center;
}

.add-new-tag-btn-text {
    color: var(--colorBgMain);
    font-weight: var(--fontWeightSemiBold);
}
