.dtl-act-present-title {
  font-weight: var(--fontWeightSemiBold);
  font-size: var(--fontSizeBig);
  margin-bottom: 15px;
}

.dtl-act-present-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.dtl-act-present-list {
  padding-right: 34px;
  border-right: 2px solid var(--colorBgDark);
  min-height: 510px;

  width: 100%;
}
