.detailresident-interesting-title {
  font-size: var(--fontSizeNormal);
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: var(--spacerMain);
}

.detailresident-interesting {
  padding-left: var(--spacerMain);
  flex: 1;
}

.interesting-list {
  overflow: scroll;
  padding-bottom: 20rem;
}