.results-list {
  background-color: var(--colorCTA);
  padding: 1rem;
  position: relative;
  border-top-left-radius: var(--borderRadiusBig);
  border-top-right-radius: var(--borderRadiusBig);
  margin-top: var(--spacerMain);
}

.results-title {
  text-align: center;
  color: var(--colorBgMain);
  font-size: var(--fontSizeBigger);
  font-weight: var(--fontWeightSemiBold);
}

.results-title {
  text-align: center;
  color: var(--colorBgMain);
  font-size: var(--fontSizeBigger);
  font-weight: var(--fontWeightSemiBold);
}

.results-title--underline {
  text-decoration: underline;
  cursor: pointer;
}

.results-list--hidden{
  position: absolute;
  width: 92%;
  left: 2.5%;
  bottom: -95%;
}

.results-scrolllist {
  margin-top: 5px;
  overflow: scroll;
  padding-bottom: 20rem;
}

.close-results {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
