.residents__filter__sorting {
    width: 70%;
}

/* edit select component style */
.residents__filter__sorting > div {
    border: none;
    outline: none;
    border-style: none;
}

.css-r447wv-singleValue {
    padding-bottom: 2px;
}